<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% for section in self.sections %}
    {{ section }}<br>
    {% for link in section.menu_items.all %}
        {{ link.name_link }}
    {% endfor %}

{% endfor %}

</body>
</html>