<ul class="ul_simple clearfix">
    {% for section in menu %}
        <li class="top_lvl current js_hassub">
            <a class="top_lvl_link" href="{{ section.link }}">{{ section.name_link }}</a>
            <div class="submenu_wrapper" style="height: 0px;">
                <ul class="header_nav_submenu js_sub ul_simple">
                    {% for subsection in section.menu_items.all %}
                        <li><a href="{{ subsection.link }}">{{ subsection.name_link }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </li>
    {% endfor  %}
</ul>