{% load wagtailcore_tags %}
<div class="submenu_wrapper" style="height: 0px;">
    <ul class="header_nav_submenu js_sub ul_simple">
        {% for child in menuitems_children %}
            <li><a href="{% pageurl child %}">{{ child.title }}</a></li>
        {% endfor %}
    </ul>
</div>