{% load wagtailcore_tags home_menu_tags %}

<ul class="ul_simple clearfix">
    {% for item in menuitems %}
        <li class="top_lvl  js_hassub">
            <a class="top_lvl_link" href="{% pageurl item %}">{{ item.title }}</a>
            {% if item.show_dropdown %}
                {% main_menu_children page=item %}
            {% endif %}
	    </li>
    {% endfor %}
</ul>

