{% extends "base2.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-blogindexpage{% endblock %}

{% block content %}

    <div class="content_wrapper">
        <div class="menu_inside clearfix hidden"> <!-- чтобы не было бордера, используй класс noborder -->
            <ul class="ul_simple menu_inside_list clearfix">
            </ul>
        </div>
        <div class="content_extracol left"></div>
        <div class="content_extracol right"></div>

        <article class="main no_padding">
            <div class="banner_block">
                <script type="text/javascript">
                    var slideTime = parseInt('7000');
                </script>
                <div class="slider_wrapper ios">
                    <div class="slider">
                        {% for slide in self.slides.all %}
                            <div class="item" id="bx_1018360630_nf_stages_spetspredlozhenie_na_volkswagen_transpor">
                            {% image slide.image_page width-960 alt=slide.title_page %}
                                <div class="slider_content">
                                    <div class="h1 title">{{ slide.title_page|richtext }}
                                    </div>
                                        <a href="{{ slide.link }}"  style="top:0px; left:0px;" class="vw_btn btn_orange btn_3d hasarrow">Подробнее</a>
                                </div>
                            </div>
                        {% endfor %}

                    </div>
                    <div class="arrow next"></div>
                    <div class="arrow prev"></div>
                </div>
                <div class="tizer_wrapper full_width js_teaser_wrapper">
                    {% with teazers=self.teazer_index.teazer_items.all %}
                        {% if teazers %}
                            {% for teazer in teazers %}
                                <a id="bx_2780537484_nf_teasers_kasko" href="{{ teazer.link }}" class="teazer_item js_teaser">
                                    <div class="img_wrap" style="width: 158px;">
                                        {% image teazer.image original as tz_image %}
                                        <img src="{{ tz_image.url }}" alt="{{ teazer.title }}">
                                    </div>
                                </a>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                </div>


            </div>
            <div class="container_4">
                <div class="hidden">
                    <!--<ul class="sof_side_menu ul_simple">
                        <li ><a  ="" href=""></a></li>
                    </ul>-->
                            &nbsp;
                </div>
                <div class="grid_4"></div>
                <div class="hidden">
                    &nbsp;
                </div>
            </div>

        </article><!--/main-->
    </div>

{% endblock %}