
/* `Container
----------------------------------------------------------------------------------------------------*/

.container_4 {
	margin-left: auto;
	margin-right: auto;
	width: 940px;
	position:relative;
	margin-left:-10px;
	margin-right:-10px;
}

.grid_3 .container_4 { width:705px;}

/* `Grid >> Global
----------------------------------------------------------------------------------------------------*/

.grid_1,
.grid_2,
.grid_3,
.grid_4 {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  position:relative;
}


ul.simple.grid_1,
ul.simple.grid_2,
ul.simple.grid_3,
ul.simple.grid_4 {
  margin-left: 10px;
  margin-right: 10px;	
}



.catalog .grid_1,
.catalog .grid_2,
.catalog .grid_3,
.catalog .grid_4 {
	float:none;
	display:inline-block;
	vertical-align:top;
	}


.push_1, .pull_1,
.push_2, .pull_2,
.push_3, .pull_3,
.push_4, .pull_4 {
  position: relative;
}

/* `Grid >> Children (Alpha ~ First, Omega ~ Last)
----------------------------------------------------------------------------------------------------*/

.alpha {
  margin-left: 0;
}

.omega {
  margin-right: 0;
}

/* `Grid >> 12 Columns
----------------------------------------------------------------------------------------------------*/

.container_4 .grid_1 {
  width: 215px;
}

.container_4 .grid_2 {
  width: 450px;
}

.container_4 .grid_3 {
  width: 685px;
}

.container_4 .grid_4 {
  width: 920px;
}




.container_4 .grid_1.grid_special {
  width: 260px;
}

.container_4 .grid_3.grid_special {
  width: 640px;
}


/* `Prefix Extra Space >> 12 Columns
----------------------------------------------------------------------------------------------------*/

.container_4 .prefix_1 {
  padding-left: 235px;
}

.container_4 .prefix_2 {
  padding-left: 470px;
}

.container_4 .prefix_3 {
  padding-left: 705px;
}


/* `Suffix Extra Space >> 12 Columns
----------------------------------------------------------------------------------------------------*/

.container_4 .suffix_1 {
  padding-right: 235px;
}

.container_4 .suffix_2 {
  padding-right: 470px;
}

.container_4 .suffix_3 {
  padding-right: 705px;
}

/* `Push Space >> 12 Columns
----------------------------------------------------------------------------------------------------*/

.container_4 .push_1 {
  left: 235px;
}

.container_4 .push_2 {
  left: 470px;
}

.container_4 .push_3 {
  left: 705px;
}

/* `Pull Space >> 12 Columns
----------------------------------------------------------------------------------------------------*/

.container_4 .pull_1 {
  left: -235px;
}

.container_4 .pull_2 {
  left: -470px;
}

.container_4 .pull_3 {
  left: -705px;
}

/* `Clear Floated Elements
----------------------------------------------------------------------------------------------------*/

/* http://www.yuiblog.com/blog/2010/09/27/clearfix-reloaded-overflowhidden-demystified */

.container_4:before,
.container_4:after {
  content: '.';
  display: block;
  overflow: hidden;
  visibility: hidden;
  font-size: 0;
  line-height: 0;
  width: 0;
  height: 0;
}

.container_4:after {
  clear: both;
}

/*
  The following zoom:1 rule is specifically for IE6 + IE7.
  Move to separate stylesheet if invalid CSS is a problem.
*/

.ie7 .container_4 {
  zoom: 1;
}


/******************************************/