{% extends 'base2.html' %}
{% load wagtailcore_tags wagtailimages_tags section_menu_tags %}

{% block content %}

    <div class="content_wrapper">
        <div class="menu_inside clearfix "> <!-- чтобы не было бордера, используй класс noborder -->
            <a class="section_label" href="{% pageurl page %}">{{ page.name }}</a>
            {% section_menu parent=page calling_page=self %}
        </div>

        <div class="content_extracol left"></div>
        <div class="content_extracol right"></div>

        <article class="main ">
            <div class="container_4">

                <div class="grid_1">
                    <!--<ul class="sof_side_menu ul_simple">
                        <li ><a  ="" href=""></a></li>
                    </ul>-->
                    <ul class="sof_side_menu ul_simple">
                        <li ><a  href="/finance/specials/nfz_specials_2012_5293225e7aedf/" >Лизинг готовых автобусов Crafter.</a></li>
                    </ul>

                    &nbsp;

                </div>

                <div class="grid_2">

                            <!-- Эти стили опускают правую колонку под 3-хколрночный стейдже -->
                    <style type="text/css">
                        .sof_art_item:first-child { 					margin-top:365px;
                        }
                    </style>

                    <div class="head_image_3_col">
                        <div class="slider_wrapper ios">
                            <div class="slider">
                                <div class="item" id="">
                                    {% image page.image width-685 %}
                                </div>
                            </div>
                            <div class="arrow next"></div>
                            <div class="arrow prev"></div>
                        </div>
                    </div>

                    <h1 class="">CarePort: Лизинг. Действенные решения для достижения цели.</h1>
                      <p>Программа финансирования покупки автомобилей Volkswagen для корпоративных клиентов.</p>

                      <p>Мы&nbsp;подготовим для Вас индивидуальное предложение по&nbsp;формированию Вашего автопарка, учитывая Ваши пожелания к&nbsp;первоначальному взносу, сроку договора лизинга, а&nbsp;также с&nbsp;возможностью заключения договора лизинга с&nbsp;опцией выкупа и&nbsp;высокой остаточной стоимостью.</p>

                      <p>Программа лизинга Volkswagen Leasing разработана в&nbsp;сотрудничестве с&nbsp;маркой Volkswagen.</p>

                      <h3>Volkswagen Leasing&nbsp;&mdash; это удобно!</h3>

                      <br />

                      <p>Сотрудник может приехать к&nbsp;Вам в&nbsp;офис для презентации продукта и&nbsp;обсуждения индивидуальных условий.</p>

                      <p>Лизинг удобнее покупки. Вам не&nbsp;придется оплачивать 100% стоимости автомобиля единовременно.</p>

                      <h3>Volkswagen Leasing&nbsp;— это выгодно!</h3>

                      <br />

                      <p>Вы&nbsp;можете уже сегодня приобрести автомобиль, отвечающий Вашим потребностям, распределив выплаты за&nbsp;него на&nbsp;выбранный Вами срок. Лизинг с&nbsp;опцией выкупа автомобиля позволяет Вам получить в&nbsp;лизинг автомобиль более высокого класса в&nbsp;рамках ограниченного ежемесячного бюджета.</p>

                      <p>Вы&nbsp;можете оптимизировать обязательства по&nbsp;налогу на&nbsp;прибыль, выбирая размер авансового и&nbsp;ежемесячного лизингового платежа.</p>

                      <h3>Volkswagen Leasing&nbsp;— это не&nbsp;только автомобили, но&nbsp;и&nbsp;развитие!</h3>

                      <br />

                      <p>Услуги лизинга предоставляются Обществом с&nbsp;Ограниченной Ответственностью &laquo;Фольксваген Груп Финанц&raquo;</p>

                    <div class="inpage-disclaimer">
                        <p>*Решение об&nbsp;условиях предоставления услуг принимается лизингодателем индивидуально.</p>
                    </div>
                </div>

                <div class="grid_1">
                    <div class="sof_art_item auto_height" id="bx_2780537484_nf_right_teasers_6">
                        <div class="sof_image"><a  href="/careport/mobility/"><img alt="Гарантия мобильности." src="/upload/dws/iblock/2eb/2eb7b2f798d90a39c54369cb4d41f29d.jpg"></a></div>
                        <div class="sof_title"><a  href="/careport/mobility/">Гарантия мобильности.</a></div>
                        <div class="sof_description">Мобильнось Вашего автопарка гарантирована.</div>
                        <div class="sof_bottomline"><a  class="vw_link_arrow" href="/careport/mobility/">Подробнее</a></div>
                    </div>
                    <div class="sof_art_item auto_height" id="bx_2780537484_nf_right_teasers_1">
                        <div class="sof_image"><a  href="/finance/specials/nfz_specials_2012_5293225e7aedf/"><img alt="Volkswagen Leasing — это просто!" src="/upload/dws/iblock/a26/a26fe96e469b63c45ba07aacf41143b5.jpg"></a></div>
                        <div class="sof_title"><a  href="/finance/specials/nfz_specials_2012_5293225e7aedf/">Volkswagen Leasing — это просто!</a></div>
                        <div class="sof_description">Для предприятий малого и среднего бизнеса оформить автомобиль в лизинг значительно проще, чем взять кредит. При оформлении лизинга от Вас не потребуются дополнительные гарантии и обеспечение*.</div>
                        <div class="sof_bottomline"><a  class="vw_link_arrow" href="/finance/specials/nfz_specials_2012_5293225e7aedf/">Подробнее</a></div>
                    </div>
                    <div class="sof_art_item auto_height" id="bx_2780537484_nf_right_teasers_lizingovyy_kalkulyator">
                        <div class="sof_image"><a  href="/careport/leasing/leasing-calc/"><img alt="Лизинговый калькулятор" src="/upload/dws/iblock/062/0625cfe21b5de95e3b8c1893ddc76394.jpg"></a></div>
                        <div class="sof_title"><a  href="/careport/leasing/leasing-calc/">Лизинговый калькулятор</a></div>
                        <div class="sof_description"></div>
                        <div class="sof_bottomline"><a  class="vw_link_arrow" href="/careport/leasing/leasing-calc/">Подробнее</a></div>
                    </div>

                            &nbsp;

                </div>
            </div>
        </article>
    </div>

{% endblock %}

