{% extends "base2.html" %}
{% load wagtailcore_tags wagtailimages_tags section_menu_tags %}

{% block content %}

    <div class="content_wrapper">
        <div class="menu_inside clearfix "> <!-- чтобы не было бордера, используй класс noborder -->
            <a class="section_label" href="{% pageurl page %}">{{ page.name }}</a>
            {% section_menu parent=page calling_page=self %}
        </div>

        <div class="head_image item" id="bx_1018360630_nfz_stages_2012_5499515768437">
            {% image page.image width-960 %}
        </div>
        <div class="content_extracol left"></div>
        <div class="content_extracol right"></div>
		<article class="main ">
            <div class="container_4">

                <div class="hidden">
                    <!--<ul class="sof_side_menu ul_simple">
                        <li ><a  ="" href=""></a></li>
                    </ul>-->

                    &nbsp;

                </div>
                <div class="grid_4">

                    <h1 class="">Спецпредложения.</h1>

                    <div class="container_4 cat_wrapper">

                        {% for section in self.sections %}

                            <div class="grid_1 cat_item"  id="bx_2780537484_nfz_teasers_2012_549941f4b344c">
                                <div class="img"><a href="{% pageurl section %}" >
                                    {% image section.desc_image width-215 alt=section.name %}</a>
                                </div>
                                <div class="title">{{ section.name }}</div>
                                <div class="teas_text">{{ section.desc|richtext }}</div>
                                <a href="{% pageurl section %}"  class="vw_link_arrow">Подробнее</a>
                            </div>

                        {% endfor %}

                        {% for article in self.articles %}

                            <div class="grid_1 cat_item"  id="bx_2780537484_nfz_teasers_2012_549941f4b344c">
                                <div class="img"><a href="{% pageurl article %}" >
                                    {% image article.desc_image width-215 alt=article.name %}</a>
                                </div>
                                <div class="title">{{ article.name }}</div>
                                <div class="teas_text">{{ article.desc|richtext }}</div>
                                <a href="{% pageurl article %}"  class="vw_link_arrow">Подробнее</a>
                            </div>

                        {% endfor %}

                    </div>

			    </div>

			    <div class="hidden">
				    &nbsp;
			    </div>
		    </div>

    	</article><!--/main-->

    </div><!--/main_wrapper-->

{% endblock %}