{% extends "base2.html" %}
{% load wagtailcore_tags wagtailimages_tags section_menu_tags %}

{% block content %}

    <div class="content_wrapper">
        <div class="menu_inside clearfix "> <!-- чтобы не было бордера, используй класс noborder -->
            <a class="section_label" href="{% pageurl page %}">{{ page.name }}</a>
            {% section_menu parent=page calling_page=self %}
        </div>

        <div class="head_image item" id="bx_1018360630_nfz_stages_2012_5499515768437">
            {% image page.image width-960 %}
        </div>
        <div class="content_extracol left"></div>
        <div class="content_extracol right"></div>
		<article class="main ">
            <div class="container_4">
                {% block section %}
                {% endblock %}
		    </div>

    	</article><!--/main-->

    </div><!--/main_wrapper-->

{% endblock %}