{% extends "base2.html" %}
{% load wagtailcore_tags wagtailimages_tags section_menu_tags %}

{% block content %}

    {% with self.articles.all as articles %}

        <div class="content_wrapper">
            <div class="menu_inside clearfix "> <!-- чтобы не было бордера, используй класс noborder -->
                <a class="section_label" href="/finance/">Узнать и купить</a>
                    {% section_menu parent=page calling_page=self %}
            </div>

            <div class="head_image item" id="bx_1018360630_nfz_stages_2012_50a1133ca4cc0">
                <img src="">
            </div>

            <div class="content_extracol left">
                        </div>

            <div class="content_extracol right">
                            </div>

            <article class="main ">

                <div class="container_4">

                    <div class="grid_1">
                        <!--<ul class="sof_side_menu ul_simple">
                           <li ><a  ="" href=""></a></li>
                        </ul>-->
                        <ul class="sof_side_menu ul_simple">
                            {% for article in articles %}
                                <li><a href="{% pageurl article %}" >{{ article.name }}</a></li>
                            {% endfor %}
                        </ul>

                        &nbsp;

                    </div>

                    <div class="grid_2">

                        <div class="offers_content_wrapper">
                            <ul class="offers_list">
                                {% for article in articles %}
                                    <li class="offer_item clearfix" id="bx_2780537484_profi">
                                        <div class="img">
                                            {% image article.desc_image width-215 alt=article.name %}
                                            {% image article.image original as image_original %}
                                            <a href="{{ image_original.url }}" class="zoom_icon img_fancybox"></a>
                                        </div>
                                         <div class="info">
                                            <a href="{% pageurl article %}"><div class="title">{{ article.name }}</div></a>
                                            <p>{{ article.desc|richtext }}</p>
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>

                    </div>

                    <div class="grid_1">

                        &nbsp;

                    </div>

                </div>

            </article><!--/main-->

        </div><!--/main_wrapper-->
    {% endwith %}

{% endblock %}