{% extends "base2.html" %}
{% load allmenu_tags %}

{% block body_class %}template-blogindexpage{% endblock %}

{% block content %}

    {% car_menu %}

    <div class="content_wrapper">
        <div class="menu_inside clearfix "> <!-- чтобы не было бордера, используй класс noborder -->
            <a class="section_label" href="#" style="min-height: 17.17px;">Новый Caddy</a>
            <ul class="ul_simple menu_inside_list clearfix">
                <li><a href="overview/">Особенности</a></li><!-- add class "current" -->

                <li><a href="variants/">Варианты</a></li><!-- add class "current" -->

                <li><a href="gallery/">Галерея</a></li><!-- add class "current" -->

                <li><a href="downloads/">Загрузить</a></li><!-- add class "current" -->

                <li><a href="/finance/configurator/go/">Конфигуратор</a></li><!-- add class "current" -->

                <li><a href="/careport/credit/credit_calc/">Рассчитать кредит</a></li><!-- add class "current" -->
            </ul>
        </div>

        <div class="content_extracol left"></div>

        <div class="content_extracol right"></div>

        {% block car_content %}{% endblock %}

    </div>
{% endblock %}