{% extends "car_models/car_base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-blogindexpage{% endblock %}

{% block car_content %}

    <article class="main no_padding">

        <div class="banner_block">

            {% image page.image width-960 alt="slider" %}

            <div class="banner_txt"> <!-- remove or add class "white" -->
                <div class="title"><p class="h1 white"><font color="white">{{ page.banner_title|richtext }}</font></p></div>
                <div class="txt"><p class="h1 white"><font color="white">{{ page.banner_sub_title|richtext }}</font></p></div>
            </div>

            <div class="tizer_wrapper full_width">
                {% for teazer in self.teazers %}
                    <a class="teazer_item" href="{{ teazer.link }}"><div class="img_wrap">{% image teazer.image width-158 alt="teazer" %}</div></a>
                {% endfor %}
                <!--<a class="teazer_item" href="http://nf.slv.vw-dealer.ru/finance/specials/nfz_specials_2012_557fce4171803/"><div class="img_wrap"><img alt="teazer" src="./Новый Caddy _ Мастер-сайт NFZ дилерского решения VW_files/ef056d8af43755334d03128f00327d5b.jpg"></div></a>
                <a class="teazer_item" target="_blank" href="https://www.youtube.com/watch?v=4hfhUWY-kBE&amp;feature=youtu.be"><div class="img_wrap"><img alt="teazer" src="./Новый Caddy _ Мастер-сайт NFZ дилерского решения VW_files/156e98f011e2f0cae3c42708cd5d9bcd.jpg"></div></a>-->
            </div>

        </div>
        <div class="container_4">
            <div class="hidden">&nbsp;</div>
            <div class="grid_4"></div>
            <div class="hidden">&nbsp;</div>
        </div>

    </article><!--/main-->

{% endblock %}