{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-blogindexpage{% endblock %}

{% block content %}

    {% for page in self.get_children %}
        {% image page.specific.image width-600 as my_image %}
        <div>
            <img u="image" src="{{ my_image.url }}">
        </div>
        <div>
            {{ page.specific.desc|richtext }}
        </div>
    {% endfor %}

{% endblock %}