{% extends "car_models/car_base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-blogindexpage{% endblock %}

{% block car_content %}

    <article class="main no_padding">
        <div class="banner_block">
	        <script type="text/javascript">
                var slideTime = parseInt('7000');
            </script>
            <div class="slider_wrapper ios">
                <div class="slider">
                    {% for slide in self.slides %}
                        <div class="item" id="bx_1018360630_nf_stages_spetspredlozhenie_na_volkswagen_transpor">
                        {% image slide.image_page width-960 alt="{{ slide.title_page }}" %}
                            <!--<img src="/upload/dws/iblock/fdd/fddba8a1ea4ab49a6cc1229629fccbbe.jpg" alt="Спецпредложение на Volkswagen Transporter и Caddy">-->
                                <div class="slider_content hidden">
	                                <div class="h1 title"><p style="color:white">{{ slide.title_page }}
                                    </div>
                                        <a href="{{ slide.link }}"  style="top:0px; left:0px;" class="vw_btn btn_orange btn_3d hasarrow">Подробнее</a>
                                </div>
                        </div>
                    {% endfor %}

                </div>
                <div class="arrow next"></div>
                <div class="arrow prev"></div>
            </div>
	        <div class="tizer_wrapper full_width js_teaser_wrapper" style="opacity:1">
                <a id="bx_2780537484_nf_teasers_kasko" href="/finance/specials/nfz_specials_2012_557fce4171803/"  class="teazer_item js_teaser"><div class="img_wrap"><img src="/upload/dws/iblock/e69/e69cf151fc14ab3b67b0d50afc0c67e2.jpg" alt="Каско"></div></a>
                <a id="bx_2780537484_nf_teasers_korporativnomu_klientu" href="/finance/corporate_client/made-in-russia/"  class="teazer_item js_teaser"><div class="img_wrap"><img src="/upload/dws/iblock/141/1412d7d933a5b141a53ebfd6ba826577.jpg" alt="Корпоративному клиенту"></div></a>
                <a id="bx_2780537484_kdx_mainteaser_bulli" href="/vw_world/news/nf_news_c_dnem_rozhdeniya_bulli/"  class="teazer_item js_teaser"><div class="img_wrap"><img src="/upload/dws/iblock/ab4/ab46dd27982cb79a775639608be9c6d6.jpg" alt="C днем рождения, Bulli!"></div></a>
                <a id="bx_2780537484_nf_teasers_volkswagen_transporter_luchshiy_furgon_2" href="/vw_world/news/nf_news_volkswagen_transporter_luchshiy_furgon_2/"  class="teazer_item js_teaser"><div class="img_wrap"><img src="/upload/dws/iblock/f55/f5573e55c47a336526d56600b4f3021c.jpg" alt="Volkswagen Transporter - лучший фургон 2016 года"></div></a>
			</div>

        </div>
        <div class="container_4">
            <div class="hidden">
                <!--<ul class="sof_side_menu ul_simple">
                    <li ><a  ="" href=""></a></li>
                </ul>-->
						&nbsp;
			</div>
            <div class="grid_4"></div>
			<div class="hidden">
				&nbsp;
			</div>
		</div>

	</article><!--/main-->


{% endblock %}