{% extends "base2.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-blogindexpage{% endblock %}

{% block content %}

    <div class="content_wrapper">
        <div class="menu_inside clearfix hidden"> <!-- чтобы не было бордера, используй класс noborder -->
            <ul class="ul_simple menu_inside_list clearfix">
            </ul>
        </div>
        <div class="content_extracol left"></div>
        <div class="content_extracol right"></div>

        <article class="main no_padding">
            <div class="banner_block">
                <script type="text/javascript">
                    var slideTime = parseInt('7000');
                </script>
                <div class="slider_wrapper ios">
                    <div class="slider">
                        {% for slide in self.slides %}
                            <div class="item" id="bx_1018360630_nf_stages_spetspredlozhenie_na_volkswagen_transpor">
                            {% image slide.image_page width-960 alt=slide.title_page %}
                                <!--<img src="/upload/dws/iblock/fdd/fddba8a1ea4ab49a6cc1229629fccbbe.jpg" alt="Спецпредложение на Volkswagen Transporter и Caddy">-->
                                    <div class="slider_content hidden">
                                        <div class="h1 title"><p style="color:white">{{ slide.title_page }}
                                        </div>
                                            <a href="{{ slide.link }}"  style="top:0px; left:0px;" class="vw_btn btn_orange btn_3d hasarrow">Подробнее</a>
                                    </div>
                            </div>
                        {% endfor %}

                    </div>
                    <div class="arrow next"></div>
                    <div class="arrow prev"></div>
                </div>
                <div class="tizer_wrapper full_width js_teaser_wrapper" style="opacity:1">
                    {% for teazer in self.teazers %}
                        <a href="{{ teazer.link }}"  class="teazer_item js_teaser"><div class="img_wrap">{% image teazer.image width-158 height-80 alt="teazer" %}</div></a>
                    {% endfor  %}
                </div>

            </div>
            <div class="container_4">
                <div class="hidden">
                    <!--<ul class="sof_side_menu ul_simple">
                        <li ><a  ="" href=""></a></li>
                    </ul>-->
                            &nbsp;
                </div>
                <div class="grid_4"></div>
                <div class="hidden">
                    &nbsp;
                </div>
            </div>

        </article><!--/main-->
    </div>

{% endblock %}