{% extends "base2.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-blogindexpage{% endblock %}

{% block content %}
    <div class="content_wrapper">
        <div class="menu_inside clearfix hidden"> <!-- чтобы не было бордера, используй класс noborder -->
            <a class="section_label" href="http://nf.slv.vw-dealer.ru/models/" style="min-height: 0px;">Модели</a>
            <ul class="ul_simple menu_inside_list clearfix"></ul>
        </div>
        <div class="content_extracol left"></div>
        <div class="content_extracol right"></div>

        <article class="main ">
            <h1 class="">Модели</h1>
                <div class="container_4">
                    <div class="grid_1 grid_special">
                        <div class="ml_filter_wrapper form_row">
                            <form method="post" id="filterForm">
                                <h4>Кузов:</h4>
                                <ul class="ul_simple">
                                        <li class="value">
                                            <!-- класс и айди самих чекбоксов скопипащены из существующего фильтра -->
                                            <label class="checkbox  checked">
                                                <input type="checkbox" value="Минивэны и семейные" id="bt_11" name="BODY_TYPE[]" class="chkbx  chk">
                                                Минивэны и семейные					</label>
                                        </li>
                                                    <li class="value">
                                            <!-- класс и айди самих чекбоксов скопипащены из существующего фильтра -->
                                            <label class="checkbox  checked">
                                                <input type="checkbox" value="Туристические и внедорожники" id="bt_11" name="BODY_TYPE[]" class="chkbx  chk">
                                                Туристические и внедорожники					</label>
                                        </li>
                                                    <li class="value">
                                            <!-- класс и айди самих чекбоксов скопипащены из существующего фильтра -->
                                            <label class="checkbox  checked">
                                                <input type="checkbox" value="Гр/пассажирские и пассажирские" id="bt_11" name="BODY_TYPE[]" class="chkbx  chk">
                                                Гр/пассажирские и пассажирские					</label>
                                        </li>
                                                    <li class="value">
                                            <!-- класс и айди самих чекбоксов скопипащены из существующего фильтра -->
                                            <label class="checkbox  checked">
                                                <input type="checkbox" value="Грузовые" id="bt_11" name="BODY_TYPE[]" class="chkbx  chk">
                                                Грузовые					</label>
                                        </li>
                                                    <li class="value">
                                            <!-- класс и айди самих чекбоксов скопипащены из существующего фильтра -->
                                            <label class="checkbox  checked">
                                                <input type="checkbox" value="Шасси" id="bt_11" name="BODY_TYPE[]" class="chkbx  chk">
                                                Шасси					</label>
                                        </li>

                                </ul>

                                <h4>Двигатель:</h4>
                                <ul class="ul_simple">

                                        <li class="value">
                                            <!-- класс и айди самих чекбоксов скопипащены из существующего фильтра -->
                                            <label class="checkbox  checked">
                                                <input type="checkbox" value="Бензиновые" id="bt_11" name="ENGINE_TYPE[]" class="chkbx  chk">
                                                Бензиновые					</label>
                                        </li>
                                        <li class="value">
                                            <!-- класс и айди самих чекбоксов скопипащены из существующего фильтра -->
                                            <label class="checkbox  checked">
                                                <input type="checkbox" value="Дизельные" id="bt_11" name="ENGINE_TYPE[]" class="chkbx  chk">
                                                Дизельные					</label>
                                        </li>
                                </ul>

                                <h4>Трансмиссия:</h4>
                                <ul class="ul_simple">
                                        <li class="value">
                                            <!-- класс и айди самих чекбоксов скопипащены из существующего фильтра -->
                                            <label class="checkbox  checked">
                                                <input type="checkbox" value="Ручная" id="bt_11" name="GEAR[]" class="chkbx  chk">
                                                Ручная					</label>
                                        </li>
                                        <li class="value">
                                            <!-- класс и айди самих чекбоксов скопипащены из существующего фильтра -->
                                            <label class="checkbox  checked">
                                                <input type="checkbox" value="Автоматическая" id="bt_11" name="GEAR[]" class="chkbx  chk">
                                                Автоматическая					</label>
                                        </li>

                                </ul>

                                <div class="filter_buttons txt_right margintop">
                                    <!-- тут тебе виднее, что и как. набор кнопок взял с живого сайта, а то, как они сделаны - на выбор.
                                         это могут быть сабмиты, ссылки, дивы, что угодно, главное классы vw_btn btn_form сохранить
                                    -->
                                    <noscript>
                                        &amp;lt;input type="submit" class="vw_btn btn_form" value="Отправить" /&amp;gt;
                                    </noscript>

                                    <input type="button" value="Показать все" class="vw_btn btn_form nomargin chk" id="clear2">

                                </div>
                            </form>
                        </div>



                                                &nbsp;

                                            </div>

                        <div class="grid_3 grid_special">
                            <div class="model_list_wrapper clearfix">

                            <!-- если ничего не найдено, показываем это:

                                                           <p class="txt_center">Автомобилей с заданными параметрами не найдено</p>

                            -->

                            <!-- пример прелоадера. спиннер не фв, замени картинку load_white.gif в папке img -->

                                {% for car in self.cars %}
                                    {% if car.thumbnail %}

                                        <a href="{% pageurl car %}" class="ml_item" id="4-caddy" style="width: 125px; opacity: 1;" target="_blank">
                                            <span class="ml_action"></span>
                                            <span class="ml_image">{% image car.thumbnail width-600 %}</span>
                                            <span class="model_name">{{ car.name }}</span>
                                            {% if car.min_price %} <span class="model_price">от {{ car.min_price }} руб. *</span> {% endif %}
                                            <span class="tooltip"><span class="arrow"></span><span class="vw_btn btn_blue hasarrow">Подробнее</span></span>

                                        </a><!--/model_item-->

                                    {% endif %}
                                {% endfor %}






                        </div>



                                    </div>

                                    <div class="hidden">




                                        &nbsp;

                                    </div>

            </div>

        </article>
    </div>

{% endblock %}