{% extends "base2.html" %}
{% load wagtailcore_tags section_menu_tags %}


{% block body_class %}template-blogindexpage{% endblock %}

{% block content %}

    <div class="content_wrapper">

        {% section_menu parent=page calling_page=self type="car" %}

        <div class="content_extracol left"></div>

        <div class="content_extracol right"></div>

        {% block car_content %}{% endblock %}

    </div>
{% endblock %}