{% extends "cars/car_base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-blogindexpage{% endblock %}

{% block car_content %}

    <article class="main no_padding">

        <div class="banner_block">

            {% image page.image width-960 alt="slider" %}

            <div class="banner_txt"> <!-- remove or add class "white" -->
                <div class="title"><p class="h1 white"><font color="white">{{ page.banner_title|richtext }}</font></p></div>
                <div class="txt"><p class="h1 white"><font color="white">{{ page.banner_sub_title|richtext }}</font></p></div>
            </div>

            {% comment %}
            <div class="tizer_wrapper full_width">
                {% for teazer in self.teazers %}
                    <a class="teazer_item" href="{{ teazer.link }}"><div class="img_wrap">{% image teazer.image width-158 alt="teazer" %}</div></a>
                {% endfor %}
            </div>
            {% endcomment %}

        </div>
        <div class="container_4">
            <div class="hidden">&nbsp;</div>
            <div class="grid_4"></div>
            <div class="hidden">&nbsp;</div>
        </div>

    </article><!--/main-->

{% endblock %}