{% extends "cars/car_base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-blogindexpage{% endblock %}

{% block car_content %}
    <article class="main ">
        <h1 class="margintop">Комплектации Новый Caddy.</h1>

	    <div class="container_4 complect_list">
            {% for equipment in self.equipments %}
                <div class="grid_1 complect_list_item">
                    <div class="header_item">
                        <div class="extended_name">{{ equipment.eq_title }}</div>
                        <div class="img">{% image equipment.image width-215 %}</div>
                        <div class="name">{{ equipment.name }}</div>
                        <div class="price">от {{ equipment.price }} руб.</div>
                    </div>
                    <div class="info_block"><p>
                        {{ equipment.desc|richtext }}
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="container_4">
            <div class="hidden">
						&nbsp;
            </div>
			<div class="grid_4"></div>

			<div class="hidden">
				&nbsp;
			</div>

		</div>

	</article><!--/main-->

{% endblock %}