{% extends "cars/car_base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-blogindexpage{% endblock %}

{% block car_content %}

    {% with files=self.files.all  %}

        <article class="main ">

			<div class="head_image padding_killer">
				<img src="http://nf.slv.vw-dealer.ru/upload/dws/iblock/81a/81a9de0564090a9c7b01c41c87699c45.jpg">
			</div>

				<div class="container_4">

					<div class="grid_1">


						&nbsp;

					</div>

					<div class="grid_2">







	<div class="spec_wrapper clearfix">
				<h2>Вы хотите узнать больше?</h2>
		<p>Вы ищите каталоги, технические характеристики и прайс-листы для модели Новый Caddy?<br />
			Здесь представлен обзор актуальной информации.</p>
							<div class="grid_1 spec_item">
				<div class="img"><img alt="spec" src="http://nf.slv.vw-dealer.ru/upload/dws/iblock/f51/f512108b3c09bb05b12a9cfe3168726f.jpg"></div>
				<div class="info">
					<div class="title">Каталог Новый Caddy</div>
																<a class="vw_link_arrow pdf_link" target="_blank" href="http://nf.slv.vw-dealer.ru/upload/dws/iblock/f84/f84cbe1f2cf905a121464b781599836f.pdf">Скачать<br>(PDF;&nbsp;26,4MB)</a>
									</div>
			</div>
			</div>


			</div>

			<div class="grid_1">




				&nbsp;

			</div>

		</div>

	</article><!--/main-->



        {% for file in files %}

        {% endfor %}

    {% endwith %}

{% endblock %}