{% extends "cars/car_base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-blogindexpage{% endblock %}

{% block car_content %}

    {% with images=self.gallery_images.all  %}

    <article class="main no_padding">
        <div class="gallery_block">
	        <div class="slider_wrapper ios_gallery gallery_slider">
		        <div class="slider">

                    {% for photo in images %}
                        <div class="item">{% image photo.image width-960 alt="slider" %}
                            {% if photo.content %}
                                <div class="slider_content"> {{ photo.content|richtext }} </div>
                            {% endif %}
                        </div>
                    {% endfor %}

		        </div>
		        <div class="arrow next"></div>
		        <div class="arrow prev inactive"></div>
	        </div><!-- /slider_wrapper -->

	        <div class="gallery_preview_wrapper">
		        <div class="gallery_preview_slider ios_gallery_buttons">
			        <div class="slider">

                            {% for photo in images %}
                                <!--<div class="item button  if photo.pk|first  current active  endif ">-->
                                <div class="item button">
                                    <div class="img_wrap">
                                        {% image photo.image width-86 alt="btn" %}
                                        {% if photo.title_image %} <div class="title" style="">{{ photo.title_image }}</div>{% endif %}
                                    </div>
                                </div>
                            {% endfor %}
			        </div>
		        </div>
                <div class="arrow next"></div>
                <div class="arrow prev inactive"></div>
	        </div>

        </div><!-- /banner_block -->

        <div class="container_4">
            <div class="hidden">
                &nbsp;
            </div>
            <div class="grid_4"></div>

            <div class="hidden">
                &nbsp;
            </div>

        </div>

	</article><!--/main-->

    {% endwith %}

{% endblock %}