<article class="main no_padding">





<div class="view_links clearfix">
		<a data-tab="tab_4-caddy_highlights_tekhnika" class="links_item small js_tab active" href="#">
		<img src="http://nf.slv.vw-dealer.ru/upload/dws/resized/upload/resized/240x114/upload/dws/iblock/fa9/fa93521adfa31b5563c68581df700e46.jpg">
		<span class="title">Техника</span>
	</a>
		<a data-tab="tab_4-caddy_highlights_salon" class="links_item small js_tab " href="#">
		<img src="http://nf.slv.vw-dealer.ru/upload/dws/resized/upload/resized/240x114/upload/dws/iblock/201/201fcba21d30290ffa94f27857685fd5.jpg">
		<span class="title">Салон</span>
	</a>
		<a data-tab="tab_4-caddy_highlights_eksterer" class="links_item small js_tab " href="#">
		<img src="http://nf.slv.vw-dealer.ru/upload/dws/resized/upload/resized/240x114/upload/dws/iblock/b10/b1091ab6f1e504425fda6617864be581.jpg">
		<span class="title">Экстерьер</span>
	</a>
		<a data-tab="tab_4-caddy_highlights_bezopasnost" class="links_item small js_tab " href="#">
		<img src="http://nf.slv.vw-dealer.ru/upload/dws/resized/upload/resized/240x114/upload/dws/iblock/0bc/0bc82ec6ee3484a5d9bf71a5bb088400.jpg">
		<span class="title">Безопасность</span>
	</a>
	<a data-tab="tab_4-caddy_highlights_assistenty" class="links_item small js_tab" href="#">
		<img src="http://nf.slv.vw-dealer.ru/upload/dws/resized/upload/resized/240x114/upload/dws/iblock/b59/b595d2e44e7f0e76b90fef4447a97a87.jpg">
		<span class="title">Ассистенты</span>
	</a>
		<a data-tab="tab_4-caddy_highlights_komfort" class="links_item small js_tab" href="#">
		<img src="http://nf.slv.vw-dealer.ru/upload/dws/resized/upload/resized/240x114/upload/dws/iblock/d2b/d2b31cbd6337a57c54421dbff2068ea3.jpg">
		<span class="title">Комфорт</span>
	</a>
		<a data-tab="tab_4-caddy_highlights_infomedia" class="links_item small js_tab" href="#">
		<img src="http://nf.slv.vw-dealer.ru/upload/dws/resized/upload/resized/240x114/upload/dws/iblock/dda/dda2ede6b9dba2511e36d89d0c976138.jpg">
		<span class="title">Инфомедиа</span>
	</a>
		<a data-tab="tab_4-caddy_highlights_aksessuary" class="links_item small js_tab" href="#">
		<img src="http://nf.slv.vw-dealer.ru/upload/dws/resized/upload/resized/240x114/upload/dws/iblock/fd5/fd5e89c28cc9149388404ccac1075dee.jpg">
		<span class="title">Аксессуары</span>
	</a>
	</div>


	<div class="view_content js_tab_content tab_4-caddy_highlights_tekhnika active">
		<h1>Набор профессиональных инструментов.</h1>
		<p>Моторы нового Caddy рассчитаны на профессиональное использование: ежедневную многочасовую работу и пробеги от ста тысяч километров в год. Соответствующий запас прочности заложен и в элементы трансмиссии. Профессиональные качества Caddy — безотказность и экономичность — очень нравятся частным потребителям. А опциональная система полного привода 4MOTION на основе муфты Haldex и вовсе является уникальным предложением в классе — её даже не с чем сравнить.</p>

		<ul class="view_content_list">
						<li class="list_item clearfix">
								<h3 class="title">Дизельные двигатели TDI</h3>
				<div class="content_info">
															<p><p>
	Caddy рассчитан на людей, которые задумываются не только о цене, но и стоимости владения автомобилем, то есть смотрят на годы вперёд. Топливо не последняя статья расходов, а дизельные двигатели дают возможность существенно экономить на заправке. Зачастую четверти бака хватает на то, чтобы на выходных съездить с семьёй за город, а утром в понедельник отправиться на работу, не заезжая на АЗС.
</p>
<p>
	Но дизель от Volkswagen — больше чем просто дизель, это TDI. Под аббревиатурой TDI мы собрали лучшие технологии: наши дизельные моторы легко заводятся в мороз, очень тихо работают и не требуют лишних расходов.
</p></p>				</div>
				                    <div class="content_media"><img src="http://nf.slv.vw-dealer.ru/upload/dws/iblock/1ac/1ac5c537d8cdae6c141ea1fba852a376.jpg"></div>
                						<li class="list_item clearfix">
								<h3 class="title">Бензиновый двигатель MPI</h3>
				<div class="content_info">
															<p>В России любят атмосферные бензиновые двигатели: исключительно надёжные, простые в ремонте, не слишком привередливые к качеству топлива. Для нового Caddy мы предлагаем бензиновый двигатель 1.6 MPI нового поколения мощностью 110 л.с. &#40;81 кВт&#41;. Он легче предшественника, меньше потребляет топлива и очень быстро выходит на рабочую температуру, что особенно ценно зимой. Это достигается за счёт того, что энергия выхлопных газов, горячих с первой секунды пуска двигателя, используется для нагрева антифриза.</p>				</div>
				                    <div class="content_media"><img src=""></div>
                						<li class="list_item clearfix">
								<h3 class="title">Автоматическая коробка DSG</h3>
				<div class="content_info">
					<p><p>
	 Трансмиссия, близкая к идеальной: комфортная, как классический автомат, и практичная, как механика. DSG почти не отличается от ручной коробки по динамике разгона и расходу топлива, а в ряде случаев даже выигрывает. Для более динамичной езды или особых условий (движение в горах с частыми обгонами) водитель может выбрать спортивный режим
</p>
<div class="inpage-disclaimer">* Информация о расходе топлива, выбросе CO₂ и классах энергоэффективности приведена в разделе «Информационные материалы». Файл «Технические характеристики и цены» доступен для скачивания в формате PDF.</div></p>														</div>
				                    <div class="content_media"><img src="http://nf.slv.vw-dealer.ru/upload/dws/iblock/8bd/8bdcf97a319d98254a6bb19234bc0523.jpg"></div>
                						<li class="list_item clearfix">
								<h3 class="title">Полный привод 4Motion</h3>
				<div class="content_info">
															<p><p>Полный привод — это уверенность в своих силах: на раскисшей грунтовке, на заснеженной или залитой дождём загородной трассе, во дворе собственного дома после снегопада, при буксировке тяжёлого прицепа, при подъёме по склону, покрытому влажной травой. И даже при прохождении скоростного поворота на сухом асфальте полный привод не будет лишним: четыре ведущих колеса по определению лучше, чем два.</p>
<p>В основе полного привода нового Caddy — муфта Haldex V поколения, которая не только «отлавливает» пробуксовку за доли секунды&nbsp;и добавляет крутящий момент на заднюю ось, но и способна заранее спрогнозировать ситуацию: управляющий блок следит за действиями водителя и понимает, слушается его автомобиль или нет.</p>
<p>Привод 4MOTION постоянно активен — небольшая доля крутящего момента для большего быстродействия всегда подаётся на заднюю ось&nbsp;и не требует к себе иного внимания, кроме замены масла раз в три года.</p>
<p>Наиболее прогрессивный тип трансмиссии — 4MOTION в сочетании с автоматической коробкой DSG: комфортно, безопасно и очень экономично.<br>
</p></p>				</div>
				                    <div class="content_media"><img src="http://nf.slv.vw-dealer.ru/upload/dws/iblock/523/52369b95f581225264b9465b4b7fbd2f.jpg"></div>
                						</li>
		</ul>
	</div>


	<div class="view_content js_tab_content tab_4-caddy_highlights_salon ">
		<h1>Место действий.</h1>
		<p>Caddy — удивительный автомобиль. Имея габариты обычной легковой машины, он способен увезти семерых взрослых человек или груз объёмом три кубометра. А для того чтобы пользоваться Caddy в любой из его грузопассажирских ипостасей было удобно, мы предусмотрели множество мелочей: в багажнике вы найдёте мощные такелажные петли, над головой водителя — вместительную полку, за спинками передних сидений — откидные столики.</p>

		<ul class="view_content_list">
						<li class="list_item clearfix">
								<h3 class="title">Полка над лобовым стеклом</h3>
				<div class="content_info">
															<p>Вместительная полка, расположенная над сиденьем водителя и пассажира, в которой удобно хранить некрупные предметы.</p>				</div>
				                    <div class="content_media"><img src="http://nf.slv.vw-dealer.ru/upload/dws/iblock/59f/59fea80e9e625ac376a259d544550fa4.jpg"></div>
                						<li class="list_item clearfix">
								<h3 class="title">Откидные столики для пассажиров на втором ряду</h3>
				<div class="content_info">
															<p>Полезное в дальних путешествиях дополнение. Пластиковая поверхность легко чистится, встроенные подстаканники сокращают риск опрокидывания ёмкостей с напитками во время перекуса на привале &#40;использование во время движения запрещено из соображений безопасности&#41;.</p>				</div>
				                    <div class="content_media"><img src="http://nf.slv.vw-dealer.ru/upload/dws/iblock/ff4/ff42cc8140a41e6ed98a0c1777c43912.jpg"></div>
                						<li class="list_item clearfix">
								<h3 class="title">Семь мест или более 3м под груз</h3>
				<div class="content_info">
															<p><p>Задние сиденья нового Caddy складываются, опрокидываются, а при необходимости быстро демонтируются, чтобы вы получили автомобиль в такой конфигурации, которая нужна именно сейчас. Комбинируйте места для пассажиров и багажа, чтобы всем было комфортно в дороге.</p>

<p>За спиной водителя и переднего пассажира — багажное отделение объёмом 3030 л. А если сложить переднее пассажирское сиденье, то ещё больше. Кстати, максимальная грузоподъёмность Caddy — ¾ тонны.</p></p>				</div>
				                    <div class="content_media">
                        <div class="slider_wrapper news_slider ios no_autoplay">
                            <div class="slider">
                                                                    <div class="item"><img src="http://nf.slv.vw-dealer.ru/upload/dws/iblock/b3c/b3ce044208bec86cc873c6093506635c.jpg" alt="фото 0"></div>
                                                                    <div class="item"><img src="http://nf.slv.vw-dealer.ru/upload/dws/iblock/fdd/fdd44227a2cf7c508d1d5d680e8354b3.jpg" alt="фото 1"></div>
                                                                    <div class="item"><img src="http://nf.slv.vw-dealer.ru/upload/dws/iblock/271/2713587a3711651038e844c5c4702ff6.jpg" alt="фото 2"></div>
                                                            </div>
                            <div class="arrow next"></div>
                            <div class="arrow prev"></div>
                            <div class="goTo"></div>
                        </div>
                    </div>
                						<li class="list_item clearfix">
								<h3 class="title">Выдвижной пол багажника</h3>
				<div class="content_info">
															<p>Облегчает загрузку и погрузку тяжёлых предметов &#40;таких, как стиральная машина&#41;. Допустимая нагрузка на край платформы в выдвинутом состоянии — 80 кг.</p>				</div>
				                    <div class="content_media"><img src="http://nf.slv.vw-dealer.ru/upload/dws/iblock/f1f/f1fed37aa19b474d69f03b08bf6ef898.jpg"></div>
                						<li class="list_item clearfix">
								<h3 class="title">Складные такелажные петли</h3>
				<div class="content_info">
															<p>В зависимости от версии в Caddy устанавливается от четырёх до шести мощных такелажных петель, предназначенных для крепления самых тяжёлых грузов, перемещение которых во время движения угрожает безопасности.</p>				</div>
				                    <div class="content_media"><img src="http://nf.slv.vw-dealer.ru/upload/dws/iblock/bae/bae6ee1681c983c7110f05c0f8a64c44.jpg"></div>
                						<li class="list_item clearfix">
								<h3 class="title">Сетчатый разделитель</h3>
				<div class="content_info">
															<p>Крепится за вторым рядом сидений, удобен для безопасной перевозки в багажном отделении большого количества лёгких объёмных вещей. Когда не нужен, скатывается в рулон.</p>				</div>
				                    <div class="content_media"><img src="http://nf.slv.vw-dealer.ru/upload/dws/iblock/58d/58df2022249e2171d57a171119f3e18d.jpg"></div>
                						<li class="list_item clearfix">
								<h3 class="title">Кожаная отделка органов управления</h3>
				<div class="content_info">
															<p>Натуральная кожа – наиболее приятный для постоянного контакта материал. В пакет входит кожаная отделка рулевого колеса &#40;стандартного или многофункционального&#41;, рычага коробки передач и рычага стояночного тормоза.</p>				</div>
				                    <div class="content_media"><img src="http://nf.slv.vw-dealer.ru/upload/dws/iblock/833/833cc2afdcd01543789b22b49e8d2272.jpg"></div>
                						<li class="list_item clearfix">
								<h3 class="title">Регулируемый по высоте центральный подлокотник</h3>
				<div class="content_info">
															<p>Два фиксированных положения переднего подлокотника позволяют занять удобное в дальней дороге положение.</p>				</div>
				                    <div class="content_media"><img src=""></div>
                						<li class="list_item clearfix">
								<h3 class="title">Стальная разделительная решётка</h3>
				<div class="content_info">
															<p>Может устанавливаться в двух местах: за вторым рядом сидений или за откинутыми вперёд &#40;сложенными книжкой&#41; теми же сиденьями. Позволяет безопасно перевозить различные объёмные грузы, в том числе достаточно тяжёлые.</p>				</div>
				                    <div class="content_media"><img src="http://nf.slv.vw-dealer.ru/upload/dws/iblock/95f/95f259c15ce0e12b07054f2520be2fb5.jpg"></div>
                						</li>
		</ul>
	</div>


	<div class="view_content js_tab_content tab_4-caddy_highlights_eksterer ">
		<h1>Практично и привлекательно.</h1>
		<p>Новый Caddy выглядит строго, но дружелюбно, спортивно, но без вызывающей игры мускулами. Изменения, внесённые в дизайн автомобиля со сменой поколения, имеют логическое объяснение. Появившийся сзади спойлер поддерживает чистоту заднего стекла при движении в непогоду по трассе, новые зеркала меньше шумят в движении, а новые фары — ярче светят.</p>

		<ul class="view_content_list">
						<li class="list_item clearfix">
								<h3 class="title">Электропривод складывания зеркал</h3>
				<div class="content_info">
															<p>Наружные зеркала нового Caddy стандартно оснащены электрорегулировкой и обогревом, а на заказ оборудуются механизмом автоматического складывания.</p>				</div>
				                    <div class="content_media"><img src="http://nf.slv.vw-dealer.ru/upload/dws/iblock/aab/aab622178fe6d9ad602f9c5a73d3da12.jpg"></div>
                						<li class="list_item clearfix">
								<h3 class="title">Би-ксеноновые фары</h3>
				<div class="content_info">
															<p>Газоразрядные лампы обеспечивают режимы дальнего и ближнего света. Эффективная работа, низкое энергопотребление, долгий срок службы, автоматическая коррекция высоты — стандарт для биксеноновых фар. Светодиодные дневные ходовые огни и тонированные задние фонари — бонус от создателей нового Caddy.</p>				</div>
				                    <div class="content_media"><img src="http://nf.slv.vw-dealer.ru/upload/dws/iblock/d35/d3529fa080d80df8311fd1388f5b5f10.jpg"></div>
                						<li class="list_item clearfix">
								<h3 class="title">Тонированные задние фонари</h3>
				<div class="content_info">
															<p>Тонированные задние фонари придают автомобилю индивидуальности без ущерба для безопасности &#40;сертифицированное оборудование&#41;. Устанавливаются на Caddy с биксеноновыми фарами.</p>				</div>
				                    <div class="content_media"><img src="http://nf.slv.vw-dealer.ru/upload/dws/iblock/843/8439074d175c307638ce7df9610aec6e.jpg"></div>
                						<li class="list_item clearfix">
								<h3 class="title">Окна со сдвижной форточкой</h3>
				<div class="content_info">
															<p>Узнайте, «как там, на улице» в одно движение руки.</p>				</div>
				                    <div class="content_media"><img src="http://nf.slv.vw-dealer.ru/upload/dws/iblock/8d8/8d808c751ddec6189b8c6879626aec19.jpg"></div>
                						<li class="list_item clearfix">
								<h3 class="title">Тонированное остекление</h3>
				<div class="content_info">
															<p>Заводская тонировка всех стёкол, установленных далее первого ряда, защищает пассажиров и их вещи от солнечных лучей и взглядов посторонних.</p>				</div>
				                    <div class="content_media"><img src="http://nf.slv.vw-dealer.ru/upload/dws/iblock/c3d/c3d7afa3b352c47c47333e8d17515ad6.jpg"></div>
                						<li class="list_item clearfix">
								<h3 class="title">Усиленная тонировка</h3>
				<div class="content_info">
															<p>Чёрная плёнка отсекает более 60&#37; солнечных лучей. В сочетании со стандартной заводской тонировкой делает пространство салона практически недоступным для просмотра со стороны улицы.</p>				</div>
				                    <div class="content_media"><img src="http://nf.slv.vw-dealer.ru/upload/dws/iblock/29b/29bec1635d7279d87bdbb80e395962e7.jpg"></div>
                						<li class="list_item clearfix">
								<h3 class="title">Рейлинги</h3>
				<div class="content_info">
															<p>Устанавливаемые на крышу рейлинги служат идеальной основой для крепления различных внешних систем перевозки багажа. Рассчитаны на нагрузку массой до 100 кг. Caddy Comfortline стандартно комплектуется чёрными рейлингами, а Caddy Highline — серебристыми.</p>				</div>
				                    <div class="content_media"><img src="http://nf.slv.vw-dealer.ru/upload/dws/iblock/b8b/b8b3e1e6621248b6999ff42aeb6bcabd.jpg"></div>
                						<li class="list_item clearfix">
								<h3 class="title">Задняя подъёмная дверь</h3>
				<div class="content_info">
															<p>Сбалансированная конструкция позволяет открывать дверь одной рукой. Спойлер над стеклом обеспечивает чистоту двери при движении в плохую погоду. В открытом состоянии дверь служит укрытием от осадков при погрузке и загрузке багажа. Новый электрозамок даёт возможность дистанционно разблокировать только заднюю дверь, что снижает риск кражи вещей из салона.</p>				</div>
				                    <div class="content_media"><img src="http://nf.slv.vw-dealer.ru/upload/dws/iblock/42b/42b5b42d3d75336b547c65d22449b791.jpg"></div>
                						<li class="list_item clearfix">
								<h3 class="title">Задние распашные двери</h3>
				<div class="content_info">
															<p>Асимметричные &#40;соотношение 2:3&#41; створки имеют максимальный угол раскрытия 180° и могут быть зафиксированы &#40;вместе или по отдельности&#41; в открытом состоянии для перевозки длинномеров &#40;в рамках правил дорожного движения&#41;. Обратите внимание: распашные двери имеют иную конструкцию ниши номерного знака.</p>				</div>
				                    <div class="content_media"><img src="http://nf.slv.vw-dealer.ru/upload/dws/iblock/b77/b77d24df72d39ef758fd68fce189011e.jpg"></div>
                						<li class="list_item clearfix">
								<h3 class="title">Тягово-сцепное устройство (фаркоп)</h3>
				<div class="content_info">
															<p><p><strong>Подготовка для установки фаркопа.</strong></p>
<p>Облегчает дальнейшую установку тягово-сцепного устройства. Включает прокладку необходимой электропроводки. Бортовая электроника&nbsp;распознает подключение прицепа: в частности, в системе ESP задействуется режим стабилизации автопоезда.</p>
<p><strong>Тягово-сцепное устройство (фаркоп) несъёмный.</strong></p>
<p>Устанавливаемое на заводе устройство имеет одно фиксированное рабочее положение и позволяет&nbsp;буксировать прицеп массой до 1,5 т (параметр зависит от мощности мотора и типа привода). При заказе данной опции в системе ESP будет иметься функция стабилизации автопоезда (прицепа).</p>
<p><strong>Съёмное тягово-сцепное устройство.</strong></p>
<p>Если фаркоп мешает парковаться или портит, как вам кажется, вид автомобиля, устанавливайте его только в то время, когда он действительно нужен. Съёмный фаркоп заводского исполнения дополняется функцией стабилизации автопоезда (прицепа в системе ESP).<br>
</p></p>				</div>
				                    <div class="content_media"><img src="http://nf.slv.vw-dealer.ru/upload/dws/iblock/ed2/ed2028e93e902f5bb85d75497d0d143b.jpg"></div>
                						<li class="list_item clearfix">
								<h3 class="title">Защита бампера в зоне погрузки</h3>
				<div class="content_info">
															<p>Накладка из прочного полимерного материала защищает задний бампер от случайных повреждений во время погрузочных работ. Предлагается в двух цветах — чёрном и матовом серебристом.</p>				</div>
				                    <div class="content_media"><img src=""></div>
                						</li>
		</ul>
	</div>


	<div class="view_content js_tab_content tab_4-caddy_highlights_bezopasnost ">
		<h1>Европейские стандарты безопасности.</h1>
		<p>Все без исключения Caddy оснащаются ABS и системой поддержания курсовой устойчивости ESP, которая в свою очередь включает множество подсистем, в том числе электронную блокировку дифференциала, повышающую проходимость автомобиля.</p>

		<ul class="view_content_list">
						<li class="list_item clearfix">
								<h3 class="title">Автоматическая система послеаварийного торможения</h3>
				<div class="content_info">
															<p><p>
	 После сильного удара, вызванного столкновением, в автоматическом режиме активируется тормозная система: она быстро снижает скорость автомобиля до 10 км/ч, что значительно повышает шансы избежать новых столкновений¹. Если водитель решит вмешаться, его действия будут иметь приоритетное значение.
</p>
<div class="inpage-disclaimer">
	¹ В рамках законов физического взаимодействия.
</div>
<br></p>				</div>
				                    <div class="content_media"><img src="http://nf.slv.vw-dealer.ru/upload/dws/iblock/7d4/7d4b0e23942c8cbf68dd27a63afb2b63.jpg"></div>
                						<li class="list_item clearfix">
								<h3 class="title">Ассистент экстренного торможения.</h3>
				<div class="content_info">
															<p>Если в критической ситуации водитель бьёт по педали резко, но недостаточно сильно, ассистент поднимет давление в тормозной магистрали, чтобы обеспечить максимально эффективное торможение.</p>				</div>
				                    <div class="content_media"><img src="http://nf.slv.vw-dealer.ru/upload/dws/iblock/571/5719ce99254efee704ee7751b6db4998.jpg"></div>
                						<li class="list_item clearfix">
								<h3 class="title">Дневные ходовые огни.</h3>
				<div class="content_info">
															<p>Загораются автоматически при включении зажигания. Делают автомобиль более заметным на дороге, снижая риск ДТП.</p>				</div>
				                    <div class="content_media"><img src="http://nf.slv.vw-dealer.ru/upload/dws/iblock/99b/99ba4fa909fbccc7262b862757b129f3.jpg"></div>
                						<li class="list_item clearfix">
								<h3 class="title">Датчик непристёгнутого ремня.</h3>
				<div class="content_info">
															<p>С началом движения напоминает водителю о необходимости воспользоваться ремнём.</p>				</div>
				                    <div class="content_media"><img src="http://nf.slv.vw-dealer.ru/upload/dws/iblock/806/80661b62fcaae69e3cf2dc72f3648f19.jpg"></div>
                						<li class="list_item clearfix">
								<h3 class="title">Подушки безопасности.</h3>
				<div class="content_info">
															<p>Обеспечивают защиту водителя и пассажиров при сильных фронтальных и боковых ударах. Правая передняя подушка может отключаться для установки детского кресла рядом с водителем. В качестве дополнения предлагаются шторки безопасности для пассажирского салона.</p>				</div>
				                    <div class="content_media"><img src="http://nf.slv.vw-dealer.ru/upload/dws/iblock/cb0/cb0d92138ac8104319d17eb804ff927f.jpg"></div>
                						<li class="list_item clearfix">
								<h3 class="title">Дополнительные системы безопасности</h3>
				<div class="content_info">
															<p><p>
 <strong>Электронная система поддержания курсовой устойчивости (ESP).</strong><br>
	 Наиболее действенный инструмент активной безопасности, дающий возможность сохранять контроль над поведением автомобиля в самых сложных дорожных условиях.<br>
</p>
<p>
 <strong>Антиблокировочная система (ABS).</strong><br>
	 Благодаря ей автомобиль продолжает слушаться руля даже при экстренном торможении.<br>
</p>
<p>
 <strong>Контроль тягового усилия (ASR).</strong><br>
	 Предотвращает пробуксовку ведущих колёс, обеспечивает эффективное ускорение, не даёт автомобилю сбиться с курса при разгоне.<br>
</p>
<p>
 <strong>Электронная блокировка дифференциала (EDS).</strong><br>
	 Повышает проходимость автомобиля в условиях недостаточного сцепления с дорогой¹.
</p>
<div class="inpage-disclaimer">¹ В рамках законов физического взаимодействия.</div></p>				</div>
				                    <div class="content_media">
                        <div class="slider_wrapper news_slider ios no_autoplay">
                            <div class="slider">
                                                                    <div class="item"><img src="http://nf.slv.vw-dealer.ru/upload/dws/iblock/a5c/a5ce836bf02538a3c453266678d6ab8d.jpg" alt="фото 0"></div>
                                                                    <div class="item"><img src="http://nf.slv.vw-dealer.ru/upload/dws/iblock/92f/92f5b7a126a4d588153cb9c2f3c95c98.jpg" alt="фото 1"></div>
                                                                    <div class="item"><img src="http://nf.slv.vw-dealer.ru/upload/dws/iblock/6c1/6c1e18359f7f6fa85284e7a64a9bb975.jpg" alt="фото 2"></div>
                                                                    <div class="item"><img src="http://nf.slv.vw-dealer.ru/upload/dws/iblock/525/525eb760249f0cf2aceb5fa4bc04fe88.jpg" alt="фото 3"></div>
                                                            </div>
                            <div class="arrow next"></div>
                            <div class="arrow prev"></div>
                            <div class="goTo"></div>
                        </div>
                    </div>
                						</li>
		</ul>
	</div>


	<div class="view_content js_tab_content tab_4-caddy_highlights_assistenty ">
		<h1>Предупреждён и вооружён.</h1>
		<p>На водителе лежит большой груз ответственности. Электронные ассистенты, разработанные для нового Caddy, делают процесс управления автомобилем немного проще: они постоянно следят за происходящим, в том числе и за состоянием человека за рулём, и в нужный момент подают голос. Или просто берут на себя какую-то часть работы.</p>

		<ul class="view_content_list">
						<li class="list_item clearfix">
								<h3 class="title">Парковочный ассистент (парктроник)</h3>
				<div class="content_info">
															<p>Датчики, устанавливаемые спереди и сзади, предупредят о препятствии на пути машины. При наличии в Caddy инфомедиа-системы с цветным экраном на него будет выведена наглядная схема обстановки.</p>				</div>
				                    <div class="content_media"><img src="http://nf.slv.vw-dealer.ru/upload/dws/iblock/e28/e28f2a92b179cf84c910fbb86089018f.jpg"></div>
                						<li class="list_item clearfix">
								<h3 class="title">Камера заднего вида Rear View</h3>
				<div class="content_info">
															<p>Существенно облегчает движение задним ходом в ограниченном пространстве. Изображение с динамическими линиями, показывающими предполагаемую траекторию, выводится на экран инфомедиа-системы. Камера заднего вида доступна только на Caddy с подъёмной задней дверью.</p>				</div>
				                    <div class="content_media"><img src="http://nf.slv.vw-dealer.ru/upload/dws/iblock/848/84899ed518564af12b43be41664d0e95.jpg"></div>
                						<li class="list_item clearfix">
								<h3 class="title">Парковочный автопилот Park Assist</h3>
				<div class="content_info">
															<p>Умеет парковаться как параллельно, так и перпендикулярно проезжей части. Берёт на себя самое сложное и ответственное — крутить руль. Водителю остаётся управлять педалями и коробкой передач.</p>				</div>
				                    <div class="content_media"><img src="http://nf.slv.vw-dealer.ru/upload/dws/iblock/e05/e05fee3e5fda6ebdfda7f4caed6b30e3.jpg"></div>
                						<li class="list_item clearfix">
								<h3 class="title">Круиз-контроль</h3>
				<div class="content_info">
															<p>Поддерживает заданную водителем скорость &#40;от 30 км/ч&#41;. При использовании на трассе позволяет экономить топливо &#40;за счёт равномерного темпа движения&#41; и избегать штрафов за превышение установленного лимита.</p>				</div>
				                    <div class="content_media"><img src="http://nf.slv.vw-dealer.ru/upload/dws/iblock/71b/71b810014a1ac901e5ae9cf14954a7a8.jpg"></div>
                						<li class="list_item clearfix">
								<h3 class="title">Датчик усталости Rest Assist</h3>
				<div class="content_info">
															<p><p>Постоянно анализирует действия водителя. При первых признаках усталости или непрерывном движении в течение двух часов система предложит сделать остановку для отдыха.</p>

<br />

<p><font color="#959595">Стандартно.</font></p></p>				</div>
				                    <div class="content_media"><img src="http://nf.slv.vw-dealer.ru/upload/dws/iblock/0f6/0f6a775a3f7117e2f1b2c536ec264ba2.jpg"></div>
                						<li class="list_item clearfix">
								<h3 class="title">Ассистент трогания на подъёме</h3>
				<div class="content_info">
															<p>Автоматически поднимает давление в тормозной системе на несколько секунд, что бы водитель смог тронуться в самую крутую горку, не скатившись назад и на спичечный коробок.</p>				</div>
				                    <div class="content_media"><img src="http://nf.slv.vw-dealer.ru/upload/dws/iblock/fcc/fcc268531da3e8e2d120a9773a745a0e.jpg"></div>
                						<li class="list_item clearfix">
								<h3 class="title">Датчик потери давления в шинах</h3>
				<div class="content_info">
															<p>Одна из функций ESP. Анализируя частоту вращения колёс, система способна заметить падение давления и указать на конкретную шину.</p>				</div>
				                    <div class="content_media"><img src="http://nf.slv.vw-dealer.ru/upload/dws/iblock/afa/afa210512febf3e4db85ae61ac640dea.jpg"></div>
                						<li class="list_item clearfix">
								<h3 class="title">Ассистент автоматического управления фарами Light Assist</h3>
				<div class="content_info">
															<p>Электроника позаботится, чтобы Caddy не слепил других водителей ночью на трассе. Кроме того, при движении в полной темноте со скоростью от 60 км/ч ассистент самостоятельно включит, а когда надо, выключит дальний свет. Система Light Assist доступна только в комбинации с пакетом «Свет и обзор» и многофункциональным дисплеем Plus.</p>				</div>
				                    <div class="content_media"><img src="http://nf.slv.vw-dealer.ru/upload/dws/iblock/39d/39de97cb9019a8da602989385cfc9ecb.jpg"></div>
                						<li class="list_item clearfix">
								<h3 class="title">Противотуманные фары с функцией подсветки поворотов</h3>
				<div class="content_info">
															<p>Противотуманные фары нового Caddy облегчают маневрирование на небольших скоростях в условиях недостаточной освещённости. При левом повороте автоматически включается левая противотуманная фара, при правом — правая. Широкий луч фары не даст неожиданным препятствиям ускользнуть от внимания водителя.</p>				</div>
				                    <div class="content_media"><img src="http://nf.slv.vw-dealer.ru/upload/dws/iblock/378/378285a57be96f42d9279beae44b01b7.jpg"></div>
                						</li>
		</ul>
	</div>


	<div class="view_content js_tab_content tab_4-caddy_highlights_komfort ">
		<h1>Тысяча удобных мелочей.</h1>
		<p>Подсветка пространства перед багажником не даст вам наступить в темноте в лужу, двухзонный климат-контроль лишит поводов для спора с пассажиром, какую температуру считать оптимальной, а подогрев ветрового стекла позволит очистить его ото льда, не доставая скребка; послушайте пять минут музыку, сидя в машине, и проблема решится сама.</p>

		<ul class="view_content_list">
						<li class="list_item clearfix">
								<h3 class="title">Автоматическая климатическая система Climatronic</h3>
				<div class="content_info">
															<p>Позволяет раздельно с точностью до половины градуса регулировать температуру в зоне водителя и переднего пассажира. Для того чтобы оградить находящихся в Caddy людей от неприятных запахов извне, при использовании омывателя ветрового стекла или включении передачи заднего хода автоматически активируется режим рециркуляции.</p>				</div>
				                    <div class="content_media"><img src="http://nf.slv.vw-dealer.ru/upload/dws/iblock/bb8/bb88f2b18907c6421b5314760335b33c.jpg"></div>
                						<li class="list_item clearfix">
								<h3 class="title">Климатическая установка</h3>
				<div class="content_info">
															<p>За счёт высокой производительности быстро обеспечит в салоне комфортную температуру в любое время года. Эргономичные органы управления системой делают лёгкой её настройку даже во время движения.</p>				</div>
				                    <div class="content_media"><img src="http://nf.slv.vw-dealer.ru/upload/dws/iblock/9d1/9d1fb77f75935d0d195d842a77e17d16.jpg"></div>
                						<li class="list_item clearfix">
								<h3 class="title">Электрические стеклоподъёмники</h3>
				<div class="content_info">
															<p>Стёкла передних дверей имеют электрический привод с механизмом ограничения усилия &#40;снижение риска травмирования&#41; и автоматическим режимом: для полного открытия или закрытия окна клавишу необязательно удерживать до окончания процесса.</p>				</div>
				                    <div class="content_media"><img src="http://nf.slv.vw-dealer.ru/upload/dws/iblock/6f1/6f187d2b057d7858a2c7e9d7ecb17c6a.jpg"></div>
                						<li class="list_item clearfix">
								<h3 class="title">Электрический замок Soft Touch</h3>
				<div class="content_info">
															<p>Лёгкого прикосновения к клавише в нише номерного знака достаточно для того, чтобы разблокировать дверь багажного отделения. Пневматические пружины облегчат дальнейший подъём двери.</p>				</div>
				                    <div class="content_media"><img src="http://nf.slv.vw-dealer.ru/upload/dws/iblock/ba2/ba26961909366d2cace248e41c7b49a1.jpg"></div>
                						<li class="list_item clearfix">
								<h3 class="title">Электрический обогрев ветрового стекла</h3>
				<div class="content_info">
															<p>В кратчайшие сроки очистит стекло ото льда снаружи или запотевания изнутри. Новая опция. Стандартно для всех пассажирских Caddy, официально поставляемых в Россию.</p>				</div>
				                    <div class="content_media"><img src="http://nf.slv.vw-dealer.ru/upload/dws/iblock/e5f/e5faa31d29d6643d02e69d828cbc2dce.jpg"></div>
                						<li class="list_item clearfix">
								<h3 class="title">Пакет «Свет и обзор»</h3>
				<div class="content_info">
															<p>Включает в себя самозатемняющееся салонное зеркало заднего вида, датчик освещённости, автоматически включающий ближний свет фар, и датчик дождя, по мере надобности задействующий стеклоочистители. Функция Coming / Leaving Home позволяет подсветить фарами путь от автомобиля / к автомобилю, если на месте парковки темно.</p>				</div>
				                    <div class="content_media"><img src="http://nf.slv.vw-dealer.ru/upload/dws/iblock/45d/45d5c7a0d0ea7497317a61363ab9afbd.jpg"></div>
                						<li class="list_item clearfix">
								<h3 class="title">Розетки 12 В</h3>
				<div class="content_info">
															<p><p><strong>Розетка 12В в передней панели.</strong><br>
Удобна для зарядки устройства, размещённого на кронштейне под стеклом либо расположенного в нише рядом с самой розеткой.</p>
<p><strong>Розетка 12В в центральной консоли.</strong><br>
Находится в легкодоступном месте (на центральном тоннеле перед рычагом коробки передач).</p>
<p><strong>Розетка 12В для пассажиров второго ряда.</strong><br>
Находится в основании задней части центрального<br>
подлокотника.</p>
<p><strong>Розетка 12В в багажном отделении.</strong><br>
Для подключения переносного холодильника вам не<br>
потребуется тянуть провод через салон.<br>
</p></p>				</div>
				                    <div class="content_media"><img src="http://nf.slv.vw-dealer.ru/upload/dws/iblock/68a/68a918a651e219e85d78754c95306d66.jpg"></div>
                						<li class="list_item clearfix">
								<h3 class="title">Подсветка зоны погрузки</h3>
				<div class="content_info">
															<p>Светодиодные лампы на внутренней поверхности двери багажного отделения делают более комфортным процесс погрузки и разгрузки в тёмное время.</p>				</div>
				                    <div class="content_media"><img src="http://nf.slv.vw-dealer.ru/upload/dws/iblock/f78/f78385d33c89bc3f8cb689328219d484.jpg"></div>
                						<li class="list_item clearfix">
								<h3 class="title">Обогрев передних сидений</h3>
				<div class="content_info">
															<p>Раздельная трёхступенчатая регулировка мощности. Нити интегрированы в спинки и подушки сидений.</p>				</div>
				                    <div class="content_media"><img src="http://nf.slv.vw-dealer.ru/upload/dws/iblock/aad/aad5778997d2093c10cad8de00d54737.jpg"></div>
                						</li>
		</ul>
	</div>


	<div class="view_content js_tab_content tab_4-caddy_highlights_infomedia ">
		<h1>Эрудированы и общительны.</h1>
		<p>Новое поколение инфомедиа-систем легко находит общий язык со всеми: и с водителем, и с внешними электронными устройствами. Лучшие из предлагаемых систем способны соединяться со смартфонами или планшетами для совместного использования приложений. Чтение SD-карт и USB-флешек — вообще обязательный минимум.</p>

		<ul class="view_content_list">
						<li class="list_item clearfix">
								<h3 class="title">Сервис Car-Net App-Connect</h3>
				<div class="content_info">
															<p>С помощью USB-кабеля и сервисов App-Connect ваш смартфон или планшет можно подключить к автомобилю, чтобы управлять загруженными в мобильное устройство приложениями через сенсорный экран инфомедиа-системы. Не надо держать смартфон в руках, крепить на кронштейн или класть на соседнее сиденье: положите его в безопасное место, до конца поездки вам не потребуется к нему прикасаться. Кстати, за время соединения ваше устройство пополнит заряд аккумулятора.</p>				</div>
				                    <div class="content_media">
                        <div class="slider_wrapper news_slider ios no_autoplay">
                            <div class="slider">
                                                                    <div class="item"><img src="http://nf.slv.vw-dealer.ru/upload/dws/iblock/cc9/cc942a2153b8e64a830caa6e4aee8b69.jpg" alt="фото 0"></div>
                                                                    <div class="item"><img src="http://nf.slv.vw-dealer.ru/upload/dws/iblock/72e/72e28b497a4b2bd9221dcd2a7e7b0134.jpg" alt="фото 1"></div>
                                                                    <div class="item"><img src="http://nf.slv.vw-dealer.ru/upload/dws/iblock/b66/b66ae94d1bbc0fcc02e2650232f58c46.jpg" alt="фото 2"></div>
                                                                    <div class="item"><img src="http://nf.slv.vw-dealer.ru/upload/dws/iblock/5ce/5ceb4513f8552fdf0dc57f88ce3ab813.jpg" alt="фото 3"></div>
                                                            </div>
                            <div class="arrow next"></div>
                            <div class="arrow prev"></div>
                            <div class="goTo"></div>
                        </div>
                    </div>
                						<li class="list_item clearfix">
								<h3 class="title">Инфомедиа-система Discover Media</h3>
				<div class="content_info">
															<p>Обладает всеми достоинствами системы Composition Media, а кроме того, располагает вторым слотом для SD-карт, с помощью которого в навигационный блок загружаются подробные региональные карты. Актуальные версии карт можно бесплатно скачать с помощью сервиса Volkswagen Map Update в течение всего срока эксплуатации автомобиля.</p>				</div>
				                    <div class="content_media"><img src="http://nf.slv.vw-dealer.ru/upload/dws/iblock/84d/84da0ee60d35ff0d17032d30b698b689.jpg"></div>
                						<li class="list_item clearfix">
								<h3 class="title">Инфомедиа-система Composition Media</h3>
				<div class="content_info">
															<p>Цветной сенсорный дисплей диагональю 6,33 дюйма оснащён датчиком приближения, обеспечивающим всплывающее меню. CD/mp3-привод, шесть динамиков &#40;четыре канала по 20 Вт, слот для SD-карт, аналоговый интерфейс AUX-IN, USB-разъём для чтения данных и зарядки аппаратуры, радиоприёмник с двойной антенной, обеспечивающей качественное звучание даже при слабом сигнале, канал Bluetooth для беспроводного подключения мобильного телефона. Для данной системы доступен сервис Car-Net App-Connect.</p>				</div>
				                    <div class="content_media"><img src="http://nf.slv.vw-dealer.ru/upload/dws/iblock/41d/41da4214c5497f411279d068c21e39ea.jpg"></div>
                						<li class="list_item clearfix">
								<h3 class="title">Инфомедиа-система Composition Colour</h3>
				<div class="content_info">
															<p>Цветной 5-дюймовый дисплей, CD/mp3-привод, шесть динамиков &#40;четыре канала по 20 Вт&#41;, слот для SD-карт, мультимедийный интерфейс AUX-IN, радиоприёмник с двойной антенной, обеспечивающей качественное звучание даже при слабом сигнале, а также опционально канал Bluetooth для беспроводного подключения мобильного телефона.</p>				</div>
				                    <div class="content_media"><img src="http://nf.slv.vw-dealer.ru/upload/dws/iblock/d4d/d4de9e498bcdca4a92973edb9a44a109.jpg"></div>
                						<li class="list_item clearfix">
								<h3 class="title">Инфомедиа-система Composition Audio</h3>
				<div class="content_info">
															<p>Монохромный дисплей, четыре динамика &#40;два канала по 20 Вт&#41;, слот для SD-карт, мультимедийный интерфейс AUX-IN, USB-разъём для чтения данных и зарядки аппаратуры, а также в качестве опции канал Bluetooth для беспроводного подключения мобильного телефона.</p>				</div>
				                    <div class="content_media"><img src="http://nf.slv.vw-dealer.ru/upload/dws/iblock/fcd/fcd87511f332d11af92c554a13082fdb.jpg"></div>
                						<li class="list_item clearfix">
								<h3 class="title">Многофункциональное рулевое колесо с кожаной отделкой</h3>
				<div class="content_info">
															<p>Рулевая колонка регулируется по высоте и вылету, что позволяет водителю занять оптимальное с точки зрения комфорта и безопасности положение. Клавиши на рулевом колесе дают возможность управлять инфомедиа-системой, мобильным телефоном, круиз-контролем и бортовым компьютером.</p>				</div>
				                    <div class="content_media"><img src="http://nf.slv.vw-dealer.ru/upload/dws/iblock/90c/90c50666860d1365e9cc323b799d6090.jpg"></div>
                						<li class="list_item clearfix">
								<h3 class="title">Мобильный интерфейс Comfort</h3>
				<div class="content_info">
															<p>С помощью USB-кабеля и сервисов App-Connect ваш смартфон или планшет можно подключить к автомобилю, чтобы управлять загруженными в мобильное устройство приложениями через сенсорный экран инфомедиа-системы. Не надо держать смартфон в руках, крепить на кронштейн или класть на соседнее сиденье: положите его в безопасное место, до конца поездки вам не потребуется к нему прикасаться. Кстати, за время соединения ваше устройство пополнит заряд аккумулятора.</p>				</div>
				                    <div class="content_media"><img src="http://nf.slv.vw-dealer.ru/upload/dws/iblock/b60/b606c4d43eb6bc5fda724500fbf7085b.jpg"></div>
                						<li class="list_item clearfix">
								<h3 class="title">Volkswagen Media Control</h3>
				<div class="content_info">
															<p>С помощью фирменного приложения от Volkswagen смартфон или планшет можно превратить в полноценный беспроводной пульт дистанционного управления инфомедиа-системой Discover Media. Задним пассажирам не потребуется отвлекать водителя, чтобы изменить уровень громкости или переключить радиостанцию.</p>				</div>
				                    <div class="content_media"><img src="http://nf.slv.vw-dealer.ru/upload/dws/iblock/b25/b2572104d403a8e8461671ac24f890f9.jpg"></div>
                						<li class="list_item clearfix">
								<h3 class="title">Голосовое управление</h3>
				<div class="content_info">
															<p>Управляйте мобильным телефоном, штатной навигационной и медиасистемой, не отрывая рук от руля и не отвлекая взгляда от дороги. Новый Caddy понимает русский язык.</p>				</div>
				                    <div class="content_media"><img src="http://nf.slv.vw-dealer.ru/upload/dws/iblock/6c6/6c6d32dc9cbfaa739d7c481238981bd4.jpg"></div>
                						<li class="list_item clearfix">
								<h3 class="title">Многофункциональный дисплей</h3>
				<div class="content_info">
					<p><p>
	 Отображает текущее время, запас хода, температуру воздуха за бортом, средний расход топлива, рекомендуемую передачу и другую полезную информацию.
</p>
<p><strong>Многофункциональный дисплей Plus</strong></p>
<p>
	 Отображает интересующие водителя сведения о поездке, а также делает более удобной работу с опциональным оборудованием: автономным отопителем, компонентами пакета «Свет и обзор», навигационной системой.
</p>
<div class="inpage-disclaimer">На изображении — многофункциональный индикатор Plus</div></p>														</div>
				                    <div class="content_media"><img src="http://nf.slv.vw-dealer.ru/upload/dws/iblock/2ca/2ca10ae8ba1c07ecbccd8cd0e8d1036c.jpg"></div>
                						</li>
		</ul>
	</div>


	<div class="view_content js_tab_content tab_4-caddy_highlights_aksessuary ">
		<h1>100-процентная гарантия совместимости.</h1>
		<p>Товары из коллекции Оригинальных аксессуаров Volkswagen, которые вы найдёте у официальных дилеров марки Volkswagen Коммерческие автомобили, безопасны в использовании, просты в установке и прослужат долгие годы, поскольку сделаны в сотрудничестве с лучшими производителями.</p>

		<ul class="view_content_list">
						<li class="list_item clearfix">
								<h3 class="title">Набор для комфортного путешествия</h3>
				<div class="content_info">
															<p>Основа – базовый модуль, которые крепится между опорами подголовника переднего кресла. Модуль можно дополнить &#40;на выбор&#41; держателем для планшета &#40;предлагаются различные переходники&#41;, плечиками для одежды, складным столиком с подстаканником или усиленным крючком для сумки.</p>				</div>
				                    <div class="content_media"><img src="http://nf.slv.vw-dealer.ru/upload/dws/iblock/b07/b07a2407332dc2ed56229af817d2163b.jpg"></div>
                						<li class="list_item clearfix">
								<h3 class="title">Двусторонний коврик багажника</h3>
				<div class="content_info">
															<p>С «парадной» стороны – мягкий велюр. Надо перевезти четыре пары грязных сапог после прогулки по осеннему лесу? Переверните коврик, и он предстанет своей резиновой стороной: очистить поверхность влажной тряпкой – дело двух минут. Для защиты заднего бампера при погрузке тяжестей можно воспользоваться откидным фартуком универсального двустороннего коврика.</p>				</div>
				                    <div class="content_media"><img src="http://nf.slv.vw-dealer.ru/upload/dws/iblock/959/9597ad431a4a3ec52694b6dffc38fcee.jpg"></div>
                						<li class="list_item clearfix">
								<h3 class="title">Багажная сетка</h3>
				<div class="content_info">
															<p><p>Эластичная сетка крепится к такелажным петлям и не даёт предметам перемещаться по багажному отделению во время движения.</p><h6 class="vwd4_noPrint"> Повышенная безопасность при перевозке багажа.</h6><p>Предлагаемая в качестве опции багажная сетка идеально зафиксирует небольшие и средние по размеру предметы. Просто закрепите крючки этой прочной сетки за штатные такелажные петли в грузовом отсеке, и весь груз под сеткой уже никуда не сдвинется.<br>
</p></p>				</div>
				                    <div class="content_media"><img src="http://nf.slv.vw-dealer.ru/upload/dws/iblock/ad7/ad77cc7d964c8e436cc01b7951dfe919.jpg"></div>
                						<li class="list_item clearfix">
								<h3 class="title">Коврик багажного отделения</h3>
				<div class="content_info">
															<p>Коврик с пятисантиметровыми бортами оградит багажник от загрязнений. Рисунок коврика препятствует скольжению багажа. Для экономии места коврик можно скатать. Представлен в двух размерах — для Caddy и Caddy Maxi.</p>				</div>
				                    <div class="content_media"><img src="http://nf.slv.vw-dealer.ru/upload/dws/iblock/c12/c1280519bd488624c766d8d9cf201579.jpg"></div>
                						<li class="list_item clearfix">
								<h3 class="title">Базовые поперечины для перевозки багажа на крыше (используются при наличии рейлингов)</h3>
				<div class="content_info">
															<p>Поперечины из алюминиевого сплава служат для перевозки груза массой до 95 кг или основой для установки специализированных систем крепления. Багажник имеет защитное покрытие, оборудован замками и сертифицирован по программе City Crash &#40;безопасность при ДТП&#41;.</p>				</div>
				                    <div class="content_media"><img src="http://nf.slv.vw-dealer.ru/upload/dws/iblock/3a4/3a459c8bcc3a04149749b1c94e220f4f.jpg"></div>
                						<li class="list_item clearfix">
								<h3 class="title">Базовые поперечины для перевозки багажа на крыше (для автомобиля без рейлингов)</h3>
				<div class="content_info">
															<p>Поперечины из алюминиевого сплава служат для перевозки груза массой до 94 кг или основой для установки специализированных систем крепления. Багажник имеет защитное покрытие, оборудован замками и сертифицирован по программе City Crash &#40;безопасность при ДТП&#41;. На иллюстрации базовый багажник дополнен предлагаемым в качестве аксессуара креплением для байдарки &#40;ограничение массы лодки — 25 кг&#41;.</p>				</div>
				                    <div class="content_media"><img src="http://nf.slv.vw-dealer.ru/upload/dws/iblock/62f/62f118d48a808a5be56dd088821350dd.jpg"></div>
                						<li class="list_item clearfix">
								<h3 class="title">Детское сиденье G0 plus ISOFIX.</h3>
				<div class="content_info">
															<p>Предназначено для перевозки детей с рождения до 15 месяцев &#40;до 13 кг&#41;. Крепление ISOFIX гарантирует прочное соединение напрямую с кузовом автомобиля. Регулируемый пятиточечный ремень без лишнего давления надёжно удержит младенца. Сиденье оборудовано откидной ручкой для переноски, солнцезащитным козырьком и съёмным тканевым чехлом, который можно постирать по мере загрязнения.</p>				</div>
				                    <div class="content_media"><img src="http://nf.slv.vw-dealer.ru/upload/dws/iblock/fdb/fdb432056041caad6158fe8fd041910a.jpg"></div>
                						<li class="list_item clearfix">
								<h3 class="title">Базовый багажник на крышу</h3>
				<div class="content_info">
															<p>Поперечины из алюминиевого сплава служат для перевозки груза массой до 94 кг или основой для установки специализированных систем крепления. Багажник имеет специальное защитное покрытие, оборудован замками и сертифицирован по программе City Crash &#40;безопасность при ДТП&#41;.</p>				</div>
				                    <div class="content_media"><img src="http://nf.slv.vw-dealer.ru/upload/dws/iblock/7cd/7cd3585982b49389f0919ea3a28d0a1b.jpg"></div>
                						</li>
		</ul>
	</div>





				<div class="container_4">

					<div class="hidden">


						&nbsp;

					</div>

					<div class="grid_4">






			</div>

			<div class="hidden">




				&nbsp;

			</div>

		</div>

	</article><!--/main-->