{% load wagtailcore_tags %}
<ul class="ul_simple menu_inside_list clearfix">
    {% for item in menuitems %}
        <li class="{% if item.active %} current {% endif %}"><a href="{% pageurl item %}"  target="_self" >{{ item }}</a></li><!-- add class "current" -->
    {% endfor %}
</ul>