{% load wagtailcore_tags %}
<div class="menu_inside clearfix "> <!-- чтобы не было бордера, используй класс noborder -->
    <a class="section_label" href="{% pageurl parent %}">{{ parent.title }}</a>
    <ul class="ul_simple menu_inside_list clearfix">
        {% for item in menuitems %}
            <li class="{% if item.active %} current {% endif %}"><a href="{% pageurl item %}"  target="_self" >{{ item }}</a></li><!-- add class "current" -->
        {% endfor %}
    </ul>
</div>
