/**/
table.simple {
    width: 100%;
    border-bottom: 1px solid #00b1eb;
    margin-bottom: 20px;
}
table.simple th {
    font-weight: bold;
    text-align: left;
    padding: 7px 10px 7px 0;
    border-bottom: 1px solid #00b1eb;
    vertical-align: top;
}
table.simple th {
    padding: 7px 10px;
}
table.simple td {
    text-align: left;
    padding: 7px 10px 7px 10px;
    background-color: #eaeeed;
    border-top: 1px solid #8994a0;
    vertical-align: top;
}

.head_image_3_col {
    width:100%;
    height:auto;
    margin:10px 0 20px;
}

.head_image_3_col img {
    display:block;
    width:100%;
    height:auto;
}
.head_image_3_col {
    width:685px;
}

.detail_picture_link {
    position: relative;
    float: left;
    margin-bottom: 5px;
    margin-right: 10px;
}

.op_icon {
    width: 8px;
    height: 8px;
    border: 1px solid #32434d;
    display: inline-block;
    border-radius: 50%;
}
.no_icon {
    width: 10px;
    height: 2px;
    background: #32434d;
    display: inline-block;
    vertical-align: middle;
}

header.main .vw_logo {
    width: auto;
}

header.main .vw_logo.left0 {
    left: 0px;
}

.extended_name {
    padding:0px 10px;
    font-size: 11px;
    font-weight: bold;
}
.inpage-disclaimer, .inpage-disclaimer p {
     color: #8994a0 !important;
     font-size: 11px;
 }

.banner_txt .white {
    color: #fff;
}

#to_top.avn_btn.light {
    background: #fff;
    border-color: #cfd7d9;
    color: #2175ad!important;
    position: fixed;
    bottom: 80px;
    width:215px;
}

#to_top.avn_btn.light:hover {
    color: #0b4e7b!important;
    border-color: #b0bdc0;
    text-decoration:none;
}

.avn_form_wrapper select{
    width: 100%;
}


.avn_form_wrapper select.error {
    border-color: #ff0000;
    background: #ffdcdc;
}

.avn_form_wrapper textarea{
    width: 100%;
    min-height: 66px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


.avn_form_wrapper textarea.error {
    border-color: #ff0000;
    background: #ffdcdc;
}

.auto_height{
    height: auto;
}