@font-face{
	font-family:"VWHBook";
    src: url('../../fonts/vwheadoffice-regular-webfont.eot');
    src: url('../../fonts/vwheadoffice-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/vwheadoffice-regular-webfont.woff2') format('woff2'),
    url('../../fonts/vwheadoffice-regular-webfont.woff') format('woff'),
    url('../../fonts/vwheadoffice-regular-webfont.ttf') format('truetype'),
    url('../../fonts/vwheadoffice-regular-webfont.svg#vw_head_officeregular') format('svg');
	font-weight:normal;
	font-style:normal;
}
@font-face{
	font-family:"VWHSemibold";
    src: url('../../fonts/vwheadoffice-bold-webfont.eot');
    src: url('../../fonts/vwheadoffice-bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/vwheadoffice-bold-webfont.woff2') format('woff2'),
    url('../../fonts/vwheadoffice-bold-webfont.woff') format('woff'),
    url('../../fonts/vwheadoffice-bold-webfont.ttf') format('truetype'),
    url('../../fonts/vwheadoffice-bold-webfont.svg#vw_head_officebold') format('svg');
	font-weight:normal;
	font-style:normal;
}
@font-face{
	font-family:"VWHBlack";
    src: url('../../fonts/VWHeadWeb-ExtraBold.eot');
    src: url('../../fonts/VWHeadWeb-ExtraBold.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/VWHeadWeb-ExtraBold.woff2') format('woff2'),
    url('../../fonts/VWHeadWeb-ExtraBold.woff') format('woff'),
    url('../../fonts/VWHeadWeb-ExtraBold.ttf') format('truetype'),
    url('../../fonts/VWHeadWeb-ExtraBold.svg#194f5394ae2e9c74dc3c441b92862d1d') format('svg');
	font-weight:normal;
	font-style:normal;
}

@font-face{
    font-family:"VWText";
    src: url('../../fonts/VW_Text/vwtextoffice-regular-webfont.eot');
    src: url('../../fonts/VW_Text/vwtextoffice-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/VW_Text/vwtextoffice-regular-webfont.woff2') format('woff2'),
    url('../../fonts/VW_Text/vwtextoffice-regular-webfont.woff') format('woff'),
    url('../../fonts/VW_Text/vwtextoffice-regular-webfont.ttf') format('truetype'),
    url('../../fonts/VW_Text/vwtextoffice-regular-webfont.svg#vw_text_officeregular') format('svg');
    font-weight:normal;
    font-style:normal;
}
@font-face{
    font-family:"VWText";
    src: url('../../fonts/VW_Text/vwtextoffice-bold-webfont.eot');
    src: url('../../fonts/VW_Text/vwtextoffice-bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/VW_Text/vwtextoffice-bold-webfont.woff2') format('woff2'),
    url('../../fonts/VW_Text/vwtextoffice-bold-webfont.woff') format('woff'),
    url('../../fonts/VW_Text/vwtextoffice-bold-webfont.ttf') format('truetype'),
    url('../../fonts/VW_Text/vwtextoffice-bold-webfont.svg#vw_text_officebold') format('svg');
    font-weight:bold;
    font-style:normal;
}

@font-face {
    font-family: 'icomoon';
    src:url('../../fonts/icomoon/icomoon.eot?-edyjsy');
    src:url('../../fonts/icomoon/icomoon.eot?#iefix-edyjsy') format('embedded-opentype'),
        url('../../fonts/icomoon/icomoon.ttf?-edyjsy') format('truetype'),
        url('../../fonts/icomoon/icomoon.woff?-edyjsy') format('woff'),
        url('../../fonts/icomoon/icomoon.svg?-edyjsy#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}
